  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 45px;`
    padding: 0;
    }

    .logo {
        width: 90px;
    }

    body {
      background-color: #ffffff;
      font-family: 'Gilroy', sans-serif;
      max-width: 100%;
      max-height: 100%;
      padding: 0;
    }

    h1 {
      text-align: left;
      font-size: 3rem;
      margin-top: 7px;
      margin-left: 7px;
      font-weight: 600
    }

    h2 {
      text-align: left;
      font-size: 1.9rem;
      margin-left: 7px;
      margin-top: 30px;
    }

    h3 {
      font-size: 2rem;
      margin-top: 40px;
      margin-bottom: 5px
    }

    h4 {
      white-space: nowrap;
      font-size: 16px;
      margin-top: 10px;
      margin-left: 50px;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h5 {
      text-align: left;
      font-size: 30px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    #image-container {
      display: flex;
      justify-content: right;
      align-items: right;
      width: 100%;
      height: 1000px;
      background-color: #fff;
    }

    #image-container img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0;
    }

    .tg_button {
      width: 450px;
      height: 70px;
      border-radius: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s;
      background: #2BABEE;
      text-decoration: none;
    }

    .tg_button:hover {
      transform: scale(1.03);
    }

    #services {
      width: 100%;
      display: flex;
      justify-content: central;
      align-items: center;
    }

    #services img {
      width: 250px;
      height: 250px;
      object-fit: contain;
      margin: 0;
    }

    #boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: none;
      margin-top: 50px;
      margin-bottom: 80px;

    }

    .box {
      width: 294px;
      height: 292px;
      border: 1px solid #2BABEE;
      border-radius: 10px;
      margin: 18px;
      overflow: hidden;
      margin: 12px;
    }

    .box img {
      max-width: 45px;
      max-height: 45px;
      object-fit: contain;
      justify-content: left;
      align-items: left;
      margin: 12px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1280px;
        padding: 10px;
        word-wrap: break-word;
    }
    .border {
        width: 700px;
        height: 65px;
        border: none !important;
        border-bottom: 1px solid #D0D9E8 !important;
        overflow: hidden;
        transition: height 0.5s;
        position: relative;
    }
    .expandable {
        height: 150px;
    }
    .button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 38px;
        color: #808080;
    }
    .content {
        text-align: center;
        padding-top: 20px;
    }


    #testimonials {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 30px;
    }
    .testimonial {
      width: 390px;
      height: 197px;
      padding: 25px 25px;
      border: 1px solid #2BABEE;
      border-radius: 18px;
      overflow: hidden;
      margin: 20px;
    }

    .testimonial img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      object-fit: cover;
    }
